p-tree ::ng-deep {
  > div {
    transform: scaleX(-1);
    float: left;
    max-width: 90vw;
    overflow: auto;
    cursor: grab;

    table p-treenode table tbody td.p-treenode {
      max-width: 250px;
      min-width: 250px;
      transform: scaleX(-1);

      span.p-tree-toggler {
        display: none;
      }

    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
