<p-tabView *ngIf="tournament">
    <!-- Description -->
    <p-tabPanel header="Overall" class="overall-infos">
        <div class="table-header">
            <h2>{{tournament.name}}</h2>
        </div>
        <p-card header="Game : ">
            <a (click)="utilService.navigate('tournaments')">{{tournament?.game}}</a>
        </p-card>
        <p-card header="Description : ">
            {{tournament?.description}}
        </p-card>
        <p-card header="Entrants : ">
            {{tournament?.participants?.length}}/{{tournament?.size}}
        </p-card>
        <p-card header="Type :  ">
            {{tournament?.format}}
        </p-card>
        <p-card header="Tournament start : ">
            {{tournament.startDate ||'NA' | date }}
        </p-card>
        <p-card header="Status : ">
            {{tournament?.status}}
        </p-card>
        <p-card header="organized by : ">
            <a
                (click)="utilService.navigate('user/'+tournament.organizer?.organizer_id)">{{tournament?.organizer?.username}}</a>
        </p-card>
        <p-card>
            <button *ngIf="!isParticipating && checkAvailability()" pButton label="Participate"
                (click)="joinTournament()"> </button>
            <button *ngIf="isParticipating" pButton label="Cancel participation" (click)="leaveTournament()"> </button>
        </p-card>
    </p-tabPanel>
    <!-- Standing -->
    <p-tabPanel header="Standing">
        <div class="card">
            <p-table #dt [value]="tournamentStanding" styleClass="p-datatable-tournaments" [rowHover]="true"
                [showCurrentPageReport]="true" [loading]="false" currentPageReportTemplate="Showing entries"
                [filterDelay]="0" [autoLayout]="true">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <h1>Standing</h1>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem" class="first-column"></th>
                        <th class="p-col-1">Rank</th>
                        <th class="p-col-2 p-sm-1">Participant username</th>
                        <th class="p-col-9 p-sm-10">Matches played</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-participant>
                    <tr class="p-selectable-row">
                        <td class="first-column"><img style="width: 40px; height: 50px; " src="../../../../favicon.ico"
                                alt="tree-icon"></td>
                        <td>
                            <p>{{participant?.rank}}</p>
                        </td>
                        <td>
                            <a class="p-column-title" style="cursor: pointer;"
                                (click)="utilService.navigate('user/'+participant?.participant_id)">{{participant?.username}}</a>
                        </td>

                        <td class="match-icons">
                            <table>
                                <tr>
                                    <td class="match-icon" *ngFor="let match of participant.matchesPlayed">
                                        <div style="padding:.5em;">
                                            <button pButton [label]="'Win'" class="p-button-success"
                                                *ngIf="isWinner(match, participant.participant_id); else loserBlock"
                                                (click)="onMatchClick(match.identifier-1)">
                                            </button>
                                            <ng-template #loserBlock>
                                                <button pButton [label]="'Loss'" class="p-button-danger"
                                                    (click)="onMatchClick(match.identifier-1)">
                                                </button>
                                            </ng-template>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-table>

        </p-table>
    </p-tabPanel>
    <!-- Bracket -->
    <p-tabPanel header="Bracket">
        <div class="bracket-wrapper">
            <app-bracket-tree [tournament]="tournament" [allMatches]="allMatches" (scoreUpdated)="refresh($event)"></app-bracket-tree>
            <button *ngIf="isTournamentOwner && (isStarted$ | async).value === 'ongoing'" pButton class="p-col-2 "
                (click)='stopTournament()' label="Cancel Tournament"> </button>
            <button *ngIf="isTournamentOwner && (isStarted$ | async).value === 'not started'"
                [disabled]="!isStartable()" pButton class="p-col-2 " (click)='startTournament()'
                label="Start Tournament"> </button>
            <button
                *ngIf="isTournamentOwner && (isStarted$ | async).value === 'ongoing' && allMatches && allMatches[allMatches.length-1]?.matchState === 'finished'"
                pButton class="p-col-2 " (click)='endTournament()' label="End Tournament"> </button>
        </div>
    </p-tabPanel>
    <!-- Options -->
    <p-tabPanel *ngIf="isTournamentOwner" header="Edit tournament">
        <app-tournament-edit [tournament]="tournament" (editedTournament)="refresh($event)"></app-tournament-edit>
    </p-tabPanel>
    <!-- seeding list -->
    <p-tabPanel *ngIf="isTournamentOwner" header="seeding list">
        <div *ngIf="isTournamentOwner && tournament?.participants" class="seeding-list">
            <app-drag-order-list [list]="tournament.participants"></app-drag-order-list>
            <button pButton (click)="updateSeeding()" label="update seeding"></button>
        </div>
    </p-tabPanel>
</p-tabView>

<div *ngIf="!tournament">
    <app-tournament-not-found></app-tournament-not-found>
</div>

<app-score-dialog *ngIf="showScoreDialog$ | async" [visible]="showScoreDialog$ | async" [match]="currentMatchDisplayed"
    (onCloseDialog)="onScoreDialogClose($event)"></app-score-dialog>
