
p-dataview {
  
    .filter-container {
      text-align: center;
      display: flex;
    }
    @media(max-width: 450px) {
      .filter-container {
        flex-direction: column;
      }
    }

    .tournament-details-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2em;
      border-bottom: 1px solid #d9dad9;

      div {
        display: flex;
        align-items: center;

        img {
          margin-right: 14px;
        }
      }
      button{
        flex: none;
      }
    }

    .tournament-details-line:hover {
      background-color: lightgrey;
      color: black;
      cursor: pointer;
    }

    .tournament-image-container{
      min-height: 10vh;
      background-size: cover;
      background-image:url("../../../../assets/L-system-image.png")
    }
    .tournament-details-grid {
      padding: 0 1em 1em 1em;
      border-bottom: 1px solid #d9dad9;
      margin: 1em;
      div{
        display: flex;
      }
    }

    .ui-panel-content {
      padding: 1em;
    }

    div.ui-dataview-grid {

      .ui-dataview-content {
        div.ui-g {
          div {
            p-panel {
              div {
                background-color: lightgrey !important;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .dark-theme :host ::ng-deep .tournament-details,
    .dark-theme :host ::ng-deep .tournament-detail {
      border-bottom: 1px solid #191919;
    }

    @media (max-width: 1024px) {
      .tournament-details-line img {
        width: 75px;
      }

      .filter-container {
        text-align: left;
      }
    }
}

.panel-grid-view{
    button{
        margin-top:0; 
        min-width: 90%;
        max-height: 10vh;
    }
}
