<p-dataView #dv [value]="tournaments?.docs" [paginator]="false" [rows]="10" paginatorPosition="both" filterBy="name"
    [sortField]="sortField" [sortOrder]="sortOrder" showJumpToPageDropdown=true layout="grid" [alwaysShowPaginator]="false">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="p-grid">
                <div class="p-col-12 p-md-4">
                    <p-dropdown [options]="sortOptions" placeholder="Sort By"
                        (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Search a tournament"
                            (input)="dv.filter($event.target.value)">
                    </div>
                    <div style="display: flex;">
                        <div class="game-filter">
                            <p-dropdown placeholder="Game" (onChange)="updateTournamentListByGame(gameFilterInput)" [options]="gameFilterOptions" [(ngModel)]="gameFilterInput"  [filter]="true"></p-dropdown>
                        </div>
                        <div class="status-filter">
                            <p-dropdown placeholder="Status" [filter]=false (onChange)="updateTournamentListByStatus(statusFilterInput)" [options]="statusFilterOptions" [(ngModel)]="statusFilterInput" ></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <p *ngIf="tournaments?.totalDocs"style="display: flex; justify-content: center;margin-bottom: 0;
            margin-top: 10px;">{{paginationToolbar}} </p>
            <p-paginator [rows]="12" [totalRecords]="tournaments?.totalDocs" pageLinkSize="3" (onPageChange)="onPageChange($event)"></p-paginator>
        </div>
    </p-header>
    
    <!-- grid view -->
    <ng-template let-tournament pTemplate="gridItem">
        <div style="padding:.5em" class="p-col-12 p-sm-12 p-md-12 p-lg-4 p-xl-3  p-ai-stretch">
            <p-panel [header]="tournament.name" class="panel-grid-view" [style]="{'text-align':'center'}">
                <div class="tournament-image-container"  alt="tree-image"></div>
                <div class="tournament-details-grid">
                    <div class="p-col-12">game: <b>{{tournament.game}}</b></div>
                    <div class="p-col-12">organizer: <b>{{tournament.organizer.username}}</b></div>
                    <div class="p-col-12"><b>{{tournament.participants.length}}/{{tournament.size}} Participants</b></div>
                    <div class="p-col-12">createdAt: <b>{{tournament.createdAt | date}}</b></div>
                    <div class="p-col-12">starts at : <b>{{tournament.startDate | date}}</b></div>
                    <div class="p-col-12">status :  <b>{{tournament.status}}</b></div>

                </div>
                <button pButton label="View " type="button" icon="pi pi-search" (click)="navigateTournament(tournament)"></button>
            </p-panel>
        </div>
    </ng-template>
</p-dataView>
