:host{

    p-orderlist{
        color: blue;
        ::ng-deep{
            div.ui-orderlist{
                max-width: 40%;
                color: red;
                div.ui-orderlist-list-container{
                    ul{
                        height: fit-content;
                    }
                }
            }
        }
    }
}