<div class="p-grid" style="margin: 0;">
    <div class="p-col-8">
        <div>
            <p>
                copyright Treenament
            </p>
            <p>
                Winner of the day : Ikuzen
            </p>
        </div>
    </div>
    <div class="p-col-3" style="display: flex; flex-direction: column;" >
        <a > <span style="cursor: pointer;">Contact</span> </a>
        <a ><span style="cursor: pointer;">About</span></a>
        <!-- <a ><div style="cursor: pointer;"></div></a> -->
    </div>
</div>